{{template "base" .}}
{{define "content"}}
    <div class="row">
        <div class="col-12">
            <br>
            <h2>
                {{.StatusCode}} {{.StatusMessage}}
            </h2>
        </div>
        <div class="col-12">
            <a href="/home">Return to home page...</a>
        </div>
    </div>
{{end}}