{{template "base" .}}
{{define "style"}}
    <link href="/web/static/style/home.page.css" rel="stylesheet" type="text/css">
{{end}}
{{define "content"}}
{{end}}
{{define "script"}}
    <script src="/web/static/script/home.page.js">
    </script>
{{end}}