{{define "navbar"}}
    <link href="/web/static/style/navbar.component.css" rel="stylesheet" type="text/css">

    <nav class="">
        <div class="navbar-nav">
            <a href="/">Configbay</a>
            <div  class="navbar-item">
                <a aria-current="page" href="/">Home</a>
            </div>
            <div class="navbar-item">
                <a href="/projects">Projects</a>
            </div>
        </div>
    </nav>
{{end}}