{{template "base" .}}
    {{define "style"}}
        <link  rel="stylesheet" href="/web/static/style/onboard.page.css" type="text/css">
    {{end}}
    {{define "content"}}
        {{template "navbar" .Config.Navbar}}
        <div class="container flex-center">
            {{template "onboard" .}}
        </div>
    {{end}}
