* {
    margin: 0;
    padding: 0;
}

:root {
    --body-color: #C8C8C8;
    --container-width: 920px;
    font-size: 100%;
}

body {
    background-color: var(--body-color);
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 0.5rem;
}

a {
    text-decoration: none;
    color: black;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: var(--container-width);
    margin-inline: auto;
}

.center {
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    margin-inline: 1em;
}

.col {

}

.col .col-12 {
    width: 96%;
}

.col .col-11 {
    width: 88%;
}

.col .col-10 {
    width: 80%;
}

.col .col-9 {
    width: 72%;
}

.col .col-8 {
    width: 64%;
}

.col .col-7 {
    width: 56%;
}

.col .col-6 {
    width: 48%;
}

.col .col-5 {
    width: 40%;
}

.col .col-4 {
    width: 32%;
}

.col .col-3 {
    width: 24%;
}

.col .col-2 {
    width: 16%;
}

.col .col-1 {
    width: 8%;
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 80%;
    }
}

@media screen and (max-width: 350px) {
    :root {
        font-size: 50%;
    }
}