:root {
    --nav-bg: #C8C8C8
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    .flex-center;
    background-color: var(--nav-bg);
    text-align: center;
}