* {
    margin: 0;
    padding: 0;
}

:root {
    --body-color: #C8C8C8
}

body {
    background-color: var(--body-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    .flex-center;
    text-align: center;
    margin-inline: 5rem;
}